body
{
background-color:grey;
}
.container
{
    padding-top: 300px;
}
.form-group{
    background-color: #9ca1f0;
    text-align: center;
    height: 50%;
    width:50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    color: black;
}
.button{
color:black;
cursor:pointer;
}
.homebtn
{
    background-color:rgb(255, 166, 166);
    color: black;
    padding: 12px 16px;
    font-size: small;
    cursor: pointer;
    position:absolute;
    top:0;
    left:0;
  }
 #noloc{
 font-style:italic;
 font-size: medium;
 }