
.center {
  background: black;
  max-height: 300px;
  color: white;
  font-weight: bold;
  font-family:Andale Mono, monospace;

}
.center h1{
font-family:Stencil Std, fantasy;
font-size:500%;
}
.center img{
 opacity: 0.5;
 height: auto;
 display:block;
 width: 100%;
}
.center img,
 {
  height: auto;
  width: 100%;
}
@media (min-width: 481px){
.center{
    overflow: hidden;
    padding: 0;
    position: responsive;
}
.center  > .container{
    position: absolute;
    top: 0;

}
.center > .container {
    right: 0;
}
}
.container
{
    padding-top: 50px;
}

header{
background-color:black;
}

.homeButton{
    position: absolute;
    top: 20px;
    right: 30px;
    color: #f7f7f7;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 80px;
}
.homeButton:hover{
color:white;
}
.fa-home{
    width: 20px;
    height: 25px;
    margin-top: 15px;
}
#park_location_home:hover{
background-color: black;
}
i{
font-size: larger;}

.container2
{
    padding-top: 100px;

}
.form-group{
    background-color: black;
    text-align: center;
    width:40%;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    color: white;
    box-shadow:0 4px 8px 0 #d885b6, 0 6px 20px 0 #d885b6;
}
.form-group:hover{
    background-color: #413f40;
}
.form-group > .button{
color:black;
cursor:pointer;
height:40px;
width:100px;
}
.form-group > .button:hover{
background-color:rgb(250, 184, 206);
}
 #noloc{
 font-style:italic;
 font-size: medium;
 font-weight: bold;
 }
 input {
    min-width: 100%;
    max-width: 100%;
}





