<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Live+ </title>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"   crossorigin="anonymous"></script>
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 center">
                    <img class="img-responsive" src="static/images/live+.png" alt="" >
                    <div class="container">
                        <div class="row">
                            <br><br>
                            <center>
                            <h1>Live +</h1>
                            <p><i>LIVE+ is a symptom checking application, where the user gives the symptom, along with his age.<br>
                          The Application returns the list of diseases for the symptoms mentioned.<br>
                          Please click one of the buttons below!!!!</i>
                            </p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="/live+/symptom-checker">
            <div class="module1 mid">
                <h2>Symptom Checker</h2>
            </div>
        </a>
        <a href="/live+/location">
            <div class="module2 mid">
                 <h2>Find Hospitals</h2>
            </div>
        </a>
        <a href="/live+/location">
            <div class="module2 mid">
                 <h2>Parks and Recreation</h2>
            </div>
        </a>
        <a href="/live+/location">
            <div class="module2 mid">
                 <h2>Food Finder</h2>
            </div>
        </a>

    </body>
</html>


