<html>
<head><title>HospitalLocations</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    <link rel = "stylesheet" type = "text/css" href = "/static/css/locationform.css?q=1547330602.31" >-->
</head>
<body>
<div class="container">

    <div>calories {{res[0]}}</div>
    <div> protein {{res[1]}}</div>
    <div> carbs {{res[2]}}</div>
<!--    <div>{{res}}</div>-->

</div>
</body>
</html>