<html lang="en">
<head><title>HospitalLocations</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/index.css" >
    <link rel = "stylesheet" type = "text/css" href = "/static/css/locationform.css" >
<!--    <script>-->
<!--        function func()-->
<!--            {-->
<!--                dish =  document.getElementById('dishname').value;-->
<!--                   $.ajax({-->
<!--                        type: "POST",-->
<!--                        url: '/live+/nutrition/result',-->
<!--                        contentType: "application/json",-->
<!--                        data: dish,-->
<!--                        dataType: "String",-->
<!--                        success: function(response) {-->
<!--                            row = "";-->
<!--                            for(var element in response)-->
<!--                            {-->
<!--                                row += "<tr><td>" + response[element]  "</td></tr>";-->
<!--                            }-->
<!--                            $('#tbody').append(row);-->
<!--                        },-->
<!--                        error: function(err) {-->
<!--                            console.log(err);-->
<!--                        }-->
<!--                    });-->
<!--            }-->
<!--    </script>-->


</head>
<body>

    <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 center">
                    <img class="img-responsive" src="/static/images/nutrients.png" alt="live+ photo" >
                    <div class="container">
                        <div class="row">
                            <br><br>
                            <center>
                            <h1>Live +</h1>
                            <p><i>Give your favourite ingredient or dish name</i>
                            </p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div>
            <a href="/live+/nutritionmealplan" aria-label="abcd" class="homeButton" id="symptom_checker_home"><i  class="fa fa-home fa-2x"></i></a>
    </div>

    <div class="container2">
    <form class="form-group" action="/live+/nutrition/result" method="POST">
        <h2> Enter your favourite dish name</h2>
        <br>
        <label for ="dishname">Enter your dish</label>
        <br>
        <input type="text" id = "dishname" name="dishname" class="form-control"></input>
        <br>
        <button type="submit" class="button" onclick="func()">Submit</button>

    </form>
    </div>


</body>
</html>