<!DOCTYPE html>
<html lang="en">
<head><title>SEARCH</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel = "stylesheet" type = "text/css" href = "/static/css/recreationform.css" >
</head>
<body>
    <header>
        <div>
            <a href="/" class="home" id="home"><button class="homebtn"><i class="fa fa-home"></i> Home </button></a>
        </div>
    </header>
 <div class="container">
     <form class="form-group" autocomplete="off" action="/live+/recreationdata/" method="POST">
         <h2>Find Parks and Trails </h2>
        <label for ="location"></label>
        <input type="text" name="location" class="form-control" placeholder="Enter your location" ></input><br>
        <button type="submit" class="button">Submit</button><br><br>
             <div id="noloc">{{recDict}}</div>
    </form>
 </div>
</body>
</html>